
  .boxleft{
    width: 400px;
  }
  .boxleft .carVideo .carVideo-box{
    width: 400px;
  }
  .boxleft .carVideo .carVideo-title p{
    color: #666666;
    font-size: 14px;
    font-weight: normal;
  }
  .boxleft .carVideo .carVideo-title p .form-control {
    width: 110px;
    display: inline-block;
    height: 30px;
    padding: 0px;
    line-height: 30px;
    margin-left: 10px;
  }
  .boxleft .carVideo .carVideo-box .btn-group {
    float: right;
  }
  .boxleft .carVideo .carVideo-box .btn-group button.btngroupactive{
    background-color: #005EB8;
    color: #ffffff;
  }
  .echartbox{
    margin-top: 10px;
  }
  .echartbox>div{
    height: 180px;
  }
 #dataanalysis #rllegend{
    width: 260px;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    position: fixed;
    bottom: 30px;
    right: 10px;
    border-radius: 4px;
    padding: 5px;
  }
  #rllegend p{
    text-align: center;
    font-size: 14px;
    color: black;
    font-weight: 600;
    margin-bottom: 6px;
  }
  #rllegend .rllegendbox{
    display: flex;
    justify-content:space-around;
  }
  #rllegend .rllegendbox>div{
    border-radius: 4px;
    height: 20px;
    width: 60px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  #rllegend .rllegendbox .densityL{
    background-color: #1C971A;
  }
  #rllegend .rllegendbox .densityM{
    background-color: #FF871C;
  }
  #rllegend .rllegendbox .densityH{
    background-color: #E90A0B;
  }
  #echartbox1{
      width:380px;
      height:180px;

  }
   .shishi{
  background-color: #66B21E;
  cursor: pointer;
    }